* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}

:root {
    --cor-principal: #F5EFE6;
    --cor-secundaria: #254FA9;
    --padding-padrao: 30px;
    --font-kavonn: "Kavoon", serif;
    --font-poppins: "Poppins", sans-serif;
}
body{
    background-color: var(--cor-principal);
}
header{
    font-family: var(--font-kavonn);
    gap: 50px;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: var(--padding-padrao);
}
header input{
    /* border-radius: 20px; */
    border: none;
    /* padding: 8px; */
    background-color: var(--cor-principal);
}
header button{
    border: none;
}
.caixa-de-selecao{
    display: flex;
    padding: 10px;
    gap: 10px;
    color: var(--cor-secundaria);
    border-radius: 20px;
    background-color: var(--cor-principal);
}
main{
    font-family: var(--font-poppins);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    gap: 20px;
    padding: var(--padding-padrao);

}

footer{
    font-family: var(--font-kavonn);
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: var(--padding-padrao);
}


@media (max-width: 700px) {
    header{
        flex-wrap: wrap;
        gap: 20px;
    }
    main{
        padding: var(--padding-padrao);
    }
    footer{
        font-size: 14px;
        font-weight: 200px;
    }
}


